.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.etiqueta-principal{
  padding:20px;
  text-align: center;
}

.titulo{
  margin:20px;
}

.botones{
  padding: 0px !important;
  margin-top: 2px;
  margin-bottom: 2px;
}